@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-straight/css/uicons-solid-straight.css');

html {
  padding: 0px;
  margin: 0px;
  height: 100vh;
  background-color: #1C5CA2;
}

body {
  font-family: Arial, sans-serif;
  background: #f8f8f8;
  margin: 0px;
}

.bg-blue {
  background-color: #1C5CA2;
}

.c-white {
  color: #FFFFFF;
}

.p-20 {
  padding: 20px;
}

.d-flex {
  display: flex;
}

.jc-center {
  justify-content: center;
}

.jc-between {
  justify-content: space-between;
}

.ai-center {
  align-items: center;
}
