@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-straight/css/uicons-solid-straight.css');

html {
  padding: 0px;
  margin: 0px;
  height: 100vh;
}

body {
  font-family: Arial, sans-serif;
  background: #f8f8f8;
  margin: 0px;
}

.bg-blue {
  background-color: #1C5CA2;
}

.bg-d-blue {
  background-color: #033F88;
}

.c-white {
  color: #FFFFFF;
}

.br-10 {
  border-radius: 10px;
}

.br-50 {
  border-radius: 50px;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.pb-5 {
  padding-bottom: 5px;
}

.ps-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.h-100 {
  height: 100px;
}

.ms-30 {
  margin-left: 30px;
  margin-right: 30px;
}

.d-flex {
  display: flex;
}

.fd-row {
  flex-direction: row;
}

.fd-column {
  flex-direction: column;
}

.gap-10 {
  gap: 10px;
}

.jc-center {
  justify-content: center;
}

.jc-between {
  justify-content: space-between;
}

.ai-center {
  align-items: center;
}

.fs-18 {
  font-size: 18px;
}

.statusbar-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #1C5CA2;
  height: 32px;
  height: calc(20px + env(safe-area-inset-top));
  z-index: 9999;
}

p {
  margin: 0px;
}

p.title {
  font-weight: 600;
  font-size: 22px;
  margin: 20px 0px;
}

.box-sp {
  margin: 0px 30px;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-image: linear-gradient(rgba(28, 92, 162, 0.8),rgba(28, 92, 162, 0.8)), url(/assets/images/sp-bg.jpg);
  background-size: cover;
  background-position: center;
  color: #FFFFFF;
  font-size: 14px;
}

.box-sp .title {
  margin: 5px 0px;
  font-size: 20px;
}

.box-sp button {
  width: fit-content;
  float: right;
  padding: 5px 10px;
  border: none;
  background-color: #FFFFFF;
  color: #000000;
  border-radius: 10px;
}