@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-straight/css/uicons-solid-straight.css');

html {
  padding: 0px;
  margin: 0px;
  height: 100vh;
}

body {
  font-family: Arial, sans-serif;
  background: #f8f8f8;
  margin: 0px;
}

.bg-blue {
  background-color: #1C5CA2;
}

.bg-d-blue {
  background-color: #033F88;
}

.c-white {
  color: #FFFFFF;
}

.br-50 {
  border-radius: 50px;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.pb-5 {
  padding-bottom: 5px;
}

.d-flex {
  display: flex;
}

.jc-center {
  justify-content: center;
}

.jc-between {
  justify-content: space-between;
}

.ai-center {
  align-items: center;
}

.fs-18 {
  font-size: 18px;
}

.safe-top-area {
  background-color: #1C5CA2;
  height: env(safe-area-inset-top);
}
