@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-straight/css/uicons-solid-straight.css');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-thin-rounded/css/uicons-thin-rounded.css');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-straight/css/uicons-solid-straight.css');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-bold-rounded/css/uicons-bold-rounded.css');

html {
  padding: 0px;
  margin: 0px;
  height: 100vh;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #f8f8f8;
  margin: 0px;
}

* {
  font-family: 'Poppins', sans-serif;
}

.bg-blue {
  background-color: #1C5CA2;
}

.bg-d-blue {
  background-color: #033F88;
}

.c-white {
  color: #FFFFFF;
}

.br-10 {
  border-radius: 10px;
}

.br-50 {
  border-radius: 50px;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.pb-5 {
  padding-bottom: 5px;
}

.ps-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.h-100 {
  height: 100px;
}

.mb-20 {
  margin-bottom: 20px;
}

.ms-30 {
  margin-left: 30px;
  margin-right: 30px;
}

.d-flex {
  display: flex;
}

.fd-row {
  flex-direction: row;
}

.fd-column {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.jc-center {
  justify-content: center;
}

.jc-between {
  justify-content: space-between;
}

.ai-center {
  align-items: center;
}

.fs-18 {
  font-size: 18px;
}

.statusbar-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #1C5CA1;
  height: 32px;
  height: calc(20px + env(safe-area-inset-top));
  z-index: 9999;
}

p {
  margin: 0px;
}

p.title {
  font-weight: 600;
  font-size: 22px;
  margin: 20px 0px;
}

.box-sp {
  margin: 0px 30px;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #1C5CA2;
  color: #FFFFFF;
  font-size: 14px;
}

.box-sp .title {
  margin: 5px 0px;
  font-size: 20px;
}

.box-sp button {
  width: fit-content;
  align-self: flex-end;
  padding: 10px;
  border: none;
  background-color: #FFFFFF;
  color: #000000;
  border-radius: 5px;
  margin-top: 5px;
}

.service-box {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  gap: 10px
}

.service-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.service {
  background-color: #1C5CA1;
  padding: 20px 10px;
  flex: 1;
  border-radius: 20px;
  color: #FFFFFF;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.service i {
  font-size: 35px;
}

.service p {
  font-size: 12px;
}