@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-straight/css/uicons-solid-straight.css');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-thin-rounded/css/uicons-thin-rounded.css');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-straight/css/uicons-solid-straight.css');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-bold-rounded/css/uicons-bold-rounded.css');

html {
  padding: 0px;
  margin: 0px;
  height: 100vh;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #f8f8f8;
  margin: 0px;
}

* {
  font-family: 'Poppins', sans-serif;
}

.bg-blue {
  background-color: #1C5CA2;
}

.bg-d-blue {
  background-color: #033F88;
}

.c-white {
  color: #FFFFFF;
}

.br-10 {
  border-radius: 10px;
}

.br-50 {
  border-radius: 50px;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.pb-5 {
  padding-bottom: 5px;
}

.ps-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.h-40px {
  height: 40px;
}

.h-100 {
  height: 100px;
}

.mb-20 {
  margin-bottom: 20px;
}

.ms-30 {
  margin-left: 30px;
  margin-right: 30px;
}

.mr-10 {
  margin-right: 10px;
}

.mt-7 {
  margin-top: 7px;
}

.d-flex {
  display: flex;
}

.fd-row {
  flex-direction: row;
}

.fd-column {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.jc-center {
  justify-content: center;
}

.jc-between {
  justify-content: space-between;
}

.ai-center {
  align-items: center;
}

.ai-right {
  align-items: end;
}

.fs-10 {
  font-size: 14px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px !important;
}

.lh-40 {
  line-height: 35px;
}

.statusbar-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #1C5CA1;
  height: 32px;
  height: calc(20px + env(safe-area-inset-top));
  z-index: 9999;
}

p {
  margin: 0px;
}

p.title {
  font-weight: 600;
  font-size: 16px;
  margin: 20px 0px;
}

.box-sp {
  margin: 0px 30px;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #1C5CA2;
  color: #FFFFFF;
  font-size: 14px;
}

.box-sp .title {
  margin: 5px 0px;
  font-size: 20px;
}

.box-sp button {
  width: fit-content;
  align-self: flex-end;
  padding: 10px;
  border: none;
  background-color: #FFFFFF;
  color: #000000;
  border-radius: 5px;
  margin-top: 5px;
}

.service-box {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  gap: 10px
}

.service-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.service {
  background-color: #1C5CA1;
  padding: 20px 10px;
  flex: 1;
  border-radius: 20px;
  color: #FFFFFF;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.service i {
  font-size: 35px;
}

.service p {
  font-size: 10px;
}

.fi-sr-angle-circle-left:before {
  font-size: 20px;
}

.fi-sr-angle-circle-right:before {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

.button-right {
  margin: 0px 0px 0px auto;
}

.linhas {
  padding-bottom: 30px;
}

.linhas p.title {
  margin: 15px 0px;
  font-size: 14px !important;
}

.box-linha-1 {
  border-radius: 10px;
  border: 1px solid #D9D9D9;
  margin: 0px 30px;
  color: #000000;
  padding-left: 20px;
  padding-right: 20px;
}

.linha-1-bg {
  background-color: #0053A0;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 12px;
}

.box-linha-2 {
  border-radius: 10px;
  border: 1px solid #D9D9D9;
  margin: 0px 30px;
  color: #000000;
  padding-left: 20px;
  padding-right: 20px;
}

.linha-2-bg {
  background-color: #008062;
  color: #FFFFFF;
  padding: 2px 7px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 12px;
}

.box-linha-3 {
  border-radius: 10px;
  border: 1px solid #D9D9D9;
  margin: 0px 30px;
  color: #000000;
  padding-left: 20px;
  padding-right: 20px;
}

.linha-3-bg {
  background-color: #ed2e38;
  color: #FFFFFF;
  padding: 2px 7px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 12px;
}

.box-linha-4 {
  border-radius: 10px;
  border: 1px solid #D9D9D9;
  margin: 0px 30px;
  color: #000000;
  padding-left: 20px;
  padding-right: 20px;
}

.linha-4-bg {
  background-color: #fcc540;
  color: #000000;
  padding: 2px 7px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 12px;
}

.box-linha-5 {
  border-radius: 10px;
  border: 1px solid #D9D9D9;
  margin: 0px 30px;
  color: #000000;
  padding-left: 20px;
  padding-right: 20px;
}

.linha-5-bg {
  background-color: #76509b;
  color: #FFFFFF;
  padding: 2px 7px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 12px;
}

.box-linha-7 {
  border-radius: 10px;
  border: 1px solid #D9D9D9;
  margin: 0px 30px;
  color: #000000;
  padding-left: 20px;
  padding-right: 20px;
}

.linha-7-bg {
  background-color: #A01866;
  color: #FFFFFF;
  padding: 2px 7px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 12px;
}

.box-linha-8 {
  border-radius: 10px;
  border: 1px solid #D9D9D9;
  margin: 0px 30px;
  color: #000000;
  padding-left: 20px;
  padding-right: 20px;
}

.linha-8-bg {
  background-color: #9F9F94;
  color: #FFFFFF;
  padding: 2px 7px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 12px;
}

.box-linha-9 {
  border-radius: 10px;
  border: 1px solid #D9D9D9;
  margin: 0px 30px;
  color: #000000;
  padding-left: 20px;
  padding-right: 20px;
}

.linha-9-bg {
  background-color: #00A88E;
  color: #FFFFFF;
  padding: 2px 7px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 12px;
}

.box-linha-10 {
  border-radius: 10px;
  border: 1px solid #D9D9D9;
  margin: 0px 30px;
  color: #000000;
  padding-left: 20px;
  padding-right: 20px;
}

.linha-10-bg {
  background-color: #007C8F;
  color: #FFFFFF;
  padding: 2px 5px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 12px;
}

.box-linha-11 {
  border-radius: 10px;
  border: 1px solid #D9D9D9;
  margin: 0px 30px;
  color: #000000;
  padding-left: 20px;
  padding-right: 20px;
}

.linha-11-bg {
  background-color: #F04F22;
  color: #FFFFFF;
  padding: 2px 6px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 12px;
}

.box-linha-12 {
  border-radius: 10px;
  border: 1px solid #D9D9D9;
  margin: 0px 30px;
  color: #000000;
  padding-left: 20px;
  padding-right: 20px;
}

.linha-12-bg {
  background-color: #043F89;
  color: #FFFFFF;
  padding: 2px 5px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 12px;
}

.box-linha-13 {
  border-radius: 10px;
  border: 1px solid #D9D9D9;
  margin: 0px 30px;
  color: #000000;
  padding-left: 20px;
  padding-right: 20px;
}

.linha-13-bg {
  background-color: #00AC5B;
  color: #FFFFFF;
  padding: 2px 5px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 12px;
}

.box-linha-15 {
  border-radius: 10px;
  border: 1px solid #D9D9D9;
  margin: 0px 30px;
  color: #000000;
  padding-left: 20px;
  padding-right: 20px;
}

.linha-15-bg {
  background-color: #8f8f8c;
  color: #FFFFFF;
  padding: 2px 5px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 12px;
}

.arrow-box-1 {
  color: #0053A0;
}

.arrow-box-2 {
  color: #008062;
}

.arrow-box-3 {
  color: #ed2e38;
}

.arrow-box-4 {
  color: #fcc540;
}

.arrow-box-5 {
  color: #76509b;
}

.arrow-box-7 {
  color: #A01866;
}

.arrow-box-8 {
  color: #9F9F94;
}

.arrow-box-9 {
  color: #00A88E;
}

.arrow-box-10 {
  color: #007C8F;
}

.arrow-box-11 {
  color: #F04F22;
}

.arrow-box-12 {
  color: #043F89;
}

.arrow-box-13 {
  color: #00AC5B;
}

.arrow-box-15 {
  color: #8f8f8c;
}